<% flash.each do |type, messages| %>
  <div class="absolute bg-slate-50 z-50 top-16 bottom-0 right-0 left-0">
    <div class="h-full relative">
      <div class="bg-white relative z-40 m-4 h-64 flex items-center justify-center">
        <div class="flex flex-col items-center gap-4">
          <% if messages.is_a?(String) %>
            <div class="bg-primaryGreen rounded-full h-24 w-24 flex items-center justify-center text-5xl text-white">
              ✔
            </div>
          <% else %>
            <div class="bg-red-500 rounded-full h-24 w-24 flex items-center justify-center text-5xl text-white">
              ✘
            </div>
          <% end %>
          <ul>
            <%if messages.is_a?(String) %>
              <div class="flex flex-col items-center">
                <p class="text-gray-900 text-lg">Complete</p>
                <div class="text-center"><p class="text-gray-500"><%= messages %></p></div>
              </div>
            <% else %>
              <% messages.each do |msg| %>
                  <li class="text-center text-red-500"><%= msg %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <% if controller_name == "categories" && action_name == "index" %>
        <%= link_to categories_path do %>
          <div class="absolute inset-0 z-30"></div>
        <% end %>
      <% else %>
        <%= link_to request.referer do %>
          <div class="absolute inset-0 z-30"></div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>