<nav data-controller="header" class="fixed top-0 right-0 left-0 flex items-center h-16 bg-primaryBlue px-4">
  <div data-header-target="openMenu" class="inline-block cursor-pointer">
    <div class="w-7 h-1 bg-gray-100 my-1"></div>
    <div class="w-7 h-1 bg-gray-100"></div>
    <div class="w-7 h-1 bg-gray-100 my-1"></div>
  </div>
</nav>