<div
  data-modals-target="leaveModal"
  id="overlay"
  class="hidden fixed inset-0 bg-black opacity-20 z-10 cursor-pointer"
  data-transition-enter="transition ease-out duration-100"
  data-transition-leave="transition ease-out duration-75"
></div>