<div
  id="new-category-modal"
  class="hidden absolute bottom-0 left-0 right-0 z-20 rounded-t-3xl bg-white h-1/2 p-6"
  data-transition-enter="transition ease-out duration-100"
  data-transition-enter-start="transform opacity-0 scale-95"
  data-transition-enter-end="transform opacity-100 scale-100"
  data-transition-leave="transition ease-in duration-200"
  data-transition-leave-start="transform opacity-100 scale-100"
  data-transition-leave-end="transform opacity-0 scale-95"
>
  <div class="relative h-full">
    <h2 class="text-center text-lg text-gray-600 mb-6">Add a category</h2>
    <%= form_with model: Category.new, url: categories_path do |f| %>
      <%= f.label :name, "Category name", class: "block mb-2 text-lg font-medium text-gray-600 dark:text-gray-300" %>
      <%= f.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-800 text-base rounded-lg focus:ring-0 focus:border-primaryDark block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Name" %>
      <p class="mt-2 text-sm text-gray-600 dark:text-gray-400"> A description of the group of transactions. Eg, 'Groceries' or 'Rent'.</p>
      <button type="button" class="flex items-center gap-1 w-full mt-2 py-4 cursor-default group">
        <img class="w-4 h-4" alt="category icon" src="https://img.icons8.com/ios/50/000000/plus-math.png"/>
        <label class="text-gray-600 text-lg cursor-pointer group-hover:text-blue-500">
          Upload an icon
          <span class="hidden">
            <%= f.file_field :icon %>
          </span>
        </label>
      </button>

      <button type="submit" class="absolute bottom-0 left-0 right-0 w-full bg-zinc-200 hover:bg-zinc-100 text-lg text-gray-900 py-3 px-4 rounded-full">
        Create
      </button>
  </div>
  <% end %>
</div>
