<!--<button type="button">-->
  <%# if user_signed_in? %>
    <%#= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete } %>
  <%# else %>
    <%#= link_to "Sign in", new_user_session_path %>
  <%# end %>
<!--</button>-->
<div data-controller="modals" class="absolute top-3 bottom-0 right-0 left-0">
  <div class="h-full relative flex flex-col gap-3">
    <div class="grid grid-cols-12 bg-white drop-shadow mx-4 p-4 gap-x-3">
      <div class="col-span-3">
        <img src="https://i.postimg.cc/ZKG1rqnm/pexels-ash-376464.jpg" alt="image" class="w-full h-icon-h object-cover object-center">
      </div>
      <div class="col-span-6 flex flex-col justify-between pt-2 text-slate-400">
        <h2>Mac donald's fast-food</h2>
        <span class="text-xs">12th April 2014</span>
      </div>
      <div class="col-span-3 pt-2 text-right text-gray-900 font-semibold">
        <p>$12.00</p>
      </div>
    </div>
    <div class="grid grid-cols-12 bg-white drop-shadow mx-4 p-4 gap-x-3">
      <div class="col-span-3">
        <img src="https://i.postimg.cc/ZKG1rqnm/pexels-ash-376464.jpg" alt="image" class="w-full h-icon-h object-cover object-center">
      </div>
      <div class="col-span-6 flex flex-col justify-between pt-2 text-slate-400">
        <h2>Mac donald's fast-food</h2>
        <span class="text-xs">12th April 2014</span>
      </div>
      <div class="col-span-3 pt-2 text-right text-gray-900 font-semibold">
        <p>$12.00</p>
      </div>
    </div>

    <div class="absolute bottom-0 left-0 right-0 p-5 bg-primaryGreen">
      <button type="submit" data-modals-target="openNewCategory" class="block w-full py-3 text-white border border-gray-300 uppercase">
        Add new category
      </button>
    </div>
  </div>
  <%= render 'shared/overlay' %>
</div>
<%= render 'categories/modals/new_category', category: CategoriesController.new.new %>

